[submodule "learning-modules/legacy/data-detectives"]
	path = learning-modules/legacy/data-detectives
	url = https://github.com/pjrios/data.git
[submodule "standalone-sites/grade7-appreciation-1-guide"]
	path = standalone-sites/grade7-appreciation-1-guide
	url = https://git.chatgpt-team.site/2da6acf7-27ff-4d76-98fd-a6ba9793a4b5/appgprj_6a62c734ac30819183f7dbabfab42cf4.git
